/* Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

:root {
  --color-1: #7c2043;
  --color-dark: black;
  /* --header-height: 75px; */
}

body {
  font-family: "Nunito", sans-serif;
  /* font-family: "Inconsolata", monospace; */
}

/* Backgrounds */
.bg1 {
  background-color: var(--color-1);
}
.bg-dark {
  background-color: var(--color-dark);
}

/* paddings */
.pt-6 {
  padding-top: 5rem;
}

/* font-size */
.fs-social {
  font-size: 1.5rem;
}

/* Colores */
.color1 {
  color: var(--color-1);
}

.borde {
  border: 1px solid black;
}

.c-pointer {
  cursor: pointer;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.logoHeader {
  height: 50px;
}

.parallax {
  height: 75vh;
  background: url("../assets/images/guitarHero.jpeg") no-repeat fixed;
  background-size: cover;
}

/* botones */

.btn-primario {
  border: none;
  background-color: var(--color-1);
  color: white;
  border-radius: 0.5rem;
  text-decoration: none;
}

.btn-primario:hover {
  background-color: black;
}

.form-control:focus {
  border-color: var(--color-1);
  box-shadow: 0 0 0 0.25rem #7c204347;
}

.card-instrumento {
  /* height: 15rem; */
  position: relative;
  aspect-ratio: 1 / 1;
  border-radius: 1rem;
  overflow: hidden;
}

.card-instrumento h5 {
  position: absolute;
  bottom: 1rem;
  left: 0;
}

.card-instrumento img {
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.card-instrumento img:hover {
  transform: scale(1.2);
}

.icon-no-space::before {
  line-height: unset;
}

/* transitions */
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

@media (max-width: 768px) {
  .parallax {
    background: url("../assets/images/parrallaxMobile.jpeg") no-repeat fixed;
  }
}
