/* Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
/* @import url("https://fonts.googleapis.com");
@import url("https://fonts.gstatic.com"); */
/* @import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"); */
/* @import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"); */

:root {
  --color-1: #7c2043;
  --color-dark: black;
  /* --header-height: 75px; */
}

body {
  font-family: "Nunito", sans-serif;
  /* font-family: "Inconsolata", monospace; */
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* IDS */
#header {
  transition: background-color 0.5s;
}

/* Backgrounds */
.bg1 {
  background-color: var(--color-1);
}
.bg-dark {
  background-color: var(--color-dark);
}

/* paddings */
.pt-6 {
  padding-top: 5rem;
}

/* font-size */
.fs-social {
  font-size: 1.5rem;
}

/* Colores */
.color1 {
  color: var(--color-1);
}

.borde {
  border: 1px solid black;
}

.c-pointer {
  cursor: pointer;
}

.filtro-gris {
  filter: grayscale(100%);
  transition: filter 1s;
}

.logoHeader {
  height: 50px;
}

.parallax {
  height: 75vh;
  background: url("../assets/images/parallaxDesktop.jpeg") no-repeat fixed;
  background-size: cover;
}

/* botones */

.btn-primario {
  border: none;
  background-color: var(--color-1);
  color: white;
  border-radius: 0.5rem;
  text-decoration: none;
}

.btn-primario:hover {
  background-color: black;
}

.form-control:focus {
  border-color: var(--color-1);
  box-shadow: 0 0 0 0.25rem #7c204347;
}

.card-custom {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  /* aspect-ratio: 1 / 1; */
}

.card-custom img {
  object-fit: cover;
}

.card-instrumento {
  aspect-ratio: 1 / 1;
}

.card-instrumento h5 {
  position: absolute;
  bottom: 1rem;
  left: 0;
}

.card-instrumento img {
  transition: transform 0.3s ease-in-out;
}

.card-instrumento img:hover {
  transform: scale(1.2);
}

.card-maestro {
  aspect-ratio: 1 / 1;
}

.card-maestro:hover > img {
  filter: grayscale(100%) blur(3px);
}

.card-maestro > div {
  opacity: 0;
  transition: opacity 1s;
}

.card-maestro:hover > div {
  opacity: 1;
}

.icon-no-space::before {
  line-height: unset;
}

/* transitions */
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

@media (max-width: 768px) {
  .parallax {
    background: url("../assets/images/parrallaxMobile.jpeg") no-repeat fixed;
  }
}
