<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Euterpe</title>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->
    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/main.css" />

    <!-- <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script> -->
    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
        }
      }
    </script>
  </head>
  <body>
    <div id="app">
      <!-- header -->
      <header
        id="header"
        class="fixed-top d-flex justify-content-around align-items-center py-2"
      >
        <a href="./">
          <img
            class="logoHeader"
            src="./assets/images/logo1.png"
            alt="logo euterpe"
          />
        </a>
        <nav>
          <ul class="d-flex">
            <li>
              <a href="#" class="text-decoration-none text-white">Cursos</a>
            </li>
            <li class="ms-4">
              <a href="#" class="text-decoration-none text-white">Nosotros</a>
            </li>
            <li class="ms-4">
              <a href="#" class="text-decoration-none text-white">Galería</a>
            </li>
            <li class="ms-4">
              <a href="#" class="text-decoration-none text-white">Contacto</a>
            </li>
          </ul>
        </nav>
      </header>
      <!-- parallax -->
      <section class="parallax">
        <div class="container h-100">
          <div class="row h-100">
            <div
              class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-start"
            >
              <h4 class="text-white mb-5">
                Aquí las notas se convierten en obras de arte, descubre la
                armonía de tu talento.
              </h4>
              <a class="btn-primario py-3 px-4" href="./inscripcion.html"
                >INSCRIBETE</a
              >
            </div>
          </div>
        </div>
      </section>
      <!-- Seccion de cursos -->
      <section class="container py-5">
        <div class="row gy-4">
          <div class="col-12">
            <h2 class="mb-0 color1">Cursos</h2>
          </div>
          <div
            class="col-12 col-sm-6 col-md-4 col-xl-3"
            v-for="curso in cursos"
          >
            <curso-card
              :key="curso.id"
              :nombre="curso.nombre"
              :img="curso.img"
              :link="curso.link"
            ></curso-card>
          </div>
        </div>
      </section>
      <!-- Seccion de maestros -->
      <section class="container pb-5">
        <div class="row g-5">
          <div class="col-12">
            <h2 class="mb-0 color1">Maestros</h2>
          </div>
          <div v-for="(maestro, i) in maestros" class="col-12" :class="maestrosLenght">
            <maestro-card :key="i" :maestro="maestro"></maestro-card>
          </div>
        </div>
      </section>
      <!-- Footer -->
      <main-footer></main-footer>
    </div>
    <!-- <footer class="bg-dark pt-6 pb-3">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-4 mb-5 text-white">
            <h5 class="mb-4 fw-bold">Contacto</h5>
            <p>
              <i class="bi bi-telephone icon-no-space"></i>
              <span class="ms-2">(433) 1223344</span>
            </p>
            <p>
              <i class="bi bi-telephone icon-no-space"></i>
              <span class="ms-2">(433) 9887766</span>
            </p>
            <p>
              <i class="bi bi-envelope icon-no-space"></i>
              <span class="ms-2">academiaeuterpe@gmail.com</span>
            </p>
            <nav>
              <ul class="d-flex">
                <li>
                  <a class="text-white" href="#">
                    <i class="bi bi-facebook fs-social me-3"></i>
                  </a>
                </li>
                <li>
                  <a
                    class="text-white"
                    href="https://www.instagram.com/euterpe.academiadeguitarra?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
                    target="_blank"
                  >
                    <i class="bi bi-instagram fs-social me-3"></i>
                  </a>
                </li>
                <li>
                  <a class="text-white" href="#">
                    <i class="bi bi-youtube fs-social"></i>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-12 col-md-4 mb-5 text-white">
            <h5 class="mb-4 fw-bold">Dirección</h5>
            <p>
              <i class="bi bi-geo-alt icon-no-space"></i>
              <a
                class="text-white"
                href="https://maps.app.goo.gl/eA23sZ932igupkRN9"
                target="_blank"
              >
                Regimiento Dragones de Michoacán #45
              </a>
            </p>
            <p>Libertad, 58178</p>
            <p>Morelia, Mich.</p>
          </div>
          <div class="col-12 col-md-4 mb-5">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3756.5758904700415!2d-101.23708272462024!3d19.688091232471734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842d0c1e637f162b%3A0xa4a0d866f691e1cd!2sRegimiento%20Dragones%20de%20Michoac%C3%A1n%2023%2C%20Libertad%2C%2058178%20Morelia%2C%20Mich.!5e0!3m2!1ses-419!2smx!4v1720570516492!5m2!1ses-419!2smx"
              class="w-100 h-100 rounded rounded-lg"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
          <div class="col-12 text-white">
            <p class="text-center">
              Copyright © Euterpe Academia de Música – Todos los derechos
              reservados 2024.
            </p>
          </div>
        </div>
      </div>
    </footer> -->

    <script type="module" src="./js/index.js"></script>
    <script type="module" src="./js/observer.js"></script>
  </body>
</html>
