<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Euterpe</title>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="./css/main.css" />

    <!-- <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script> -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- <script src="./js/vue.js"></script> -->
    <!-- <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
        }
      }
    </script> -->
  </head>
  <body>
    <div id="app">
      <!-- header -->
      <main-header fixed="fixed-top" :back-ground="false"></main-header>
      <!-- parallax -->
      <section ref="parallax" class="parallax">
        <div class="container h-100">
          <div class="row h-100">
            <div
              class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-start"
            >
              <h4 class="text-white mb-5">
                Aquí las notas se convierten en obras de arte, descubre la
                armonía de tu talento.
              </h4>
              <a class="boton btn-primario py-3 px-4" href="./inscripcion.html"
                >INSCRIBETE</a
              >
            </div>
          </div>
        </div>
      </section>
      <!-- Seccion de cursos -->
      <section class="container py-5">
        <div class="row gx-4">
          <div class="col-12 mb-4">
            <h2 class="mb-0 color1">Cursos</h2>
          </div>
          <div
            class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4"
            v-for="curso in cursos"
          >
            <curso-card :key="curso.id" :curso="curso" />
          </div>
        </div>
      </section>
      <!-- Seccion de maestros -->
      <section class="container pb-5">
        <div class="row gx-5">
          <div class="col-12 mb-4">
            <h2 class="mb-0 color1">Maestros</h2>
          </div>
          <div
            v-for="maestro in maestros"
            :key="maestro.id"
            class="col-12 mb-4"
            :class="columnSize"
          >
            <maestro-card :maestro="maestro" />
          </div>
        </div>
      </section>
      <!-- Footer -->
      <main-footer></main-footer>
    </div>

    <script type="module" src="./js/pages/index.js"></script>
  </body>
</html>
